.attendance-container {
    width: 80%;
    margin: 25px 60px 50px 280px;
    background-color: #f0f4f8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #0000001a;
    height: 100vh;
    padding-right:50px;
  }
  
  .page-title {
    text-align: center;
    color: #4a90e2;
  }
  
  .info-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .button-container-left {
    display: flex;
    align-items: center;
  }
  
  .button-container-right {
    display: flex;
  }
  
  .info-heading {
    margin-right: 20px;
    padding: 10px 20px;
    background-color: #4a90e2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 8px #0000001a;
  }
  
  .attendance-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    
  }
  
  .attendance-table th, .attendance-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .attendance-table th {
    background-color: #4a90e2;
    color: white;
  }
  
  .attendance-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .footer {
    text-align: center;
    padding: 10px;
    background-color: #4a90e2;
    color: white;
    bottom: 0;
    width: 100%;
    border-radius: 0 0 10px 10px;
  }